/* Mobile 
230px - 550px 
*/
body {
  background-color: lightpink;
}
img {
  width: 100%;
}

.header {
  border: 1px dotted gray;
  margin: 10px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic_container {
  width: 30%;
  margin: 5px;
}

/* Desktop 550px+ */

@media (min-width: 550px) {
  body {
    display: flex;
    background-color: rgb(25, 109, 84);
  }
  .header {
    height: 70%;
  }
}
